*.parquet
project/project/*
project/target/*
target/scala-2.11/*.jar
target/scala-2.11/classes/*
target/resolution-cache/*
target/streams/*
package/bin/*
package/build/*
package/profile.d/*
*.keytab
metastore_db/*
lib_managed/*
knownips.txt
clientstats.txt
serverstats.txt
cipher_algstats.txt
dsthoststats.txt
stats/*
intrusions/*